# Compiler files
cache/
out/

# Ignores development broadcast logs
!/broadcast
/broadcast/*/31337/
/broadcast/**/dry-run/

# Docs
docs/

# Dotenv file
.env
broadcast/
node_modules

lib/account-abstraction
lib/forge-std
lib/openzeppelin-contracts